<body>
  <div class="login-container">
    <div class="login-header">
      <h1>Bem-vindo</h1>
      <p>Cadastre-se para acessar sua conta.</p>
    </div>
    <form [formGroup]="loginForm" class="login-form">
      <div class="input-group">
        <label for="username">Nome</label>
        <input formControlName="nome" type="text" placeholder="Digite seu nome" required>

        <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
          <span *ngIf="usuarioVazio">Nome é obrigatório.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="username">E-mail</label>
        <input formControlName="user" type="email" id="email" placeholder="Digite seu e-mail" required>

        <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
          <span *ngIf="usuarioVazio">E-mail é obrigatório.</span>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Senha</label>
        <input formControlName="password" type="password" id="password" placeholder="Digite sua senha" required>

        <div style="color: #ff4d4d; font-size: 12px; margin-top: 5px;">
          <span *ngIf="senhaVazia">Senha é obrigatória.</span>
          <span *ngIf="senhaIncorreta">Usuário ou Senha Inválidos</span>
        </div>
      </div>
      <button type="submit" class="login-button" (click)="onSubmit($event)">Entrar</button>
    </form>
    <div class="login-footer">
      <p>Já tem uma conta? <a [routerLink]="['/login']">Faça Login</a></p>
      <p><a href="#">Esqueceu a senha?</a></p>
    </div>
  </div>
</body>
