<div class="header-container">
  <a href="#" class="logo">Desafio Maquiagem</a>
  <div  class="icons">
    <div (click)="navegar('/home')" class="icon">
      <i class="fas fa-search"></i>
    </div>
    <div (click)="navegar('/pedidos')"  class="icon">
      <i class="fas fa-receipt"></i>
    </div>
    <div (click)="navegar('/carrinho')"  class="icon">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div *ngIf="estaAutenticado()" class="icon user-icon" [matMenuTriggerFor]="userMenu">
      <i class="fas fa-user"></i>
    </div>
    <div *ngIf="!estaAutenticado()">
      <a (click)="navegar('/login')" >
        <button class="botao-login">Login</button>
      </a>
    </div>

    <mat-menu class="user-menu" #userMenu="matMenu">
      <button mat-menu-item routerLink="/pedidos">Meus pedidos</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>

  </div>
</div>
