<div class="pagamento-container">
  <h2>Finalizar Pagamento</h2>

  <div class="metodos-pagamento">
    <label>
      <input type="radio" name="pagamento" [value]="1" [(ngModel)]="metodoPagamento" />
      <i class="fas fa-money-bill-wave"></i> Dinheiro
    </label>

    <label>
      <input type="radio" name="pagamento" [value]="2" [(ngModel)]="metodoPagamento" />
      <i class="fas fa-qrcode"></i> Pix
    </label>
  </div>

  <div *ngIf="metodoPagamento === 2" class="pix-container">
    <p>Escaneie o QR Code para pagar com Pix:</p>
    <img [src]="'https://www.qrcoder.co.uk/assets/img/random-qr-code.png'" alt="QR Code Pix" />
  </div>

  <button class="botao-confirmar" (click)="confirmarPagamento()">Confirmar Pagamento</button>
</div>
